<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="barre-nav-principale">
  <div class="container-fluid">
    <div class="navbar-header " id="headerTxt">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barre-nav-liens">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">votredepute.ca</a>
    </div>

    <div class="collapse navbar-collapse" id="barre-nav-liens">
        <form action="/rechercher" method="get" class="navbar-form navbar-right">
        <div class="form-group input-group">
            <input type="text"  placeholder="Entrez un nom, un code postal, des mots" class="form-control" id="barre-nav-champ-recherche" name="recherche">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
        </form>

        <ul class="nav navbar-nav navbar-right" id="headerTxt">
            <li><a href="/deputes">Députés</a></li>
            <li><a href="/projet-loi">Projets de loi</a></li>
            <li><a href="/statistiques">Statistiques</a></li>
        </ul>
    </div>
  </div>
</nav>
