body {
    padding-top: 50px;
}

header {
  padding-top: 25px;
}

#barre-nav-principale{
  background-color: rgb(227, 0, 0);
}

#headerTxt a{
  color: white;
}

#headerTxt a:hover{
     text-shadow: 2px 2px 10px #000000;
}

#barre-nav-champ-recherche {
    min-width: 290px !important;
}

#barre-nav-principale .navbar-form {
    border-top: 0 !important;
}

#pied-page-global {
    margin-top: 30px;
}

#titre-page h1 {
	text-align: center;
}

#chartPiePartiFiltres {
	float: right;
	width: 25%;
	height: 400px;
	background-color: #FFFFFF;
	border-style: solid;
	text-indent: 20px;
}
#infoStatistiques {
	width: 100%;
	background-color: #FFFFFF;
	margin: 20px 0px;
}

/* Enlève le « branding » inséré dans chaque graphe de la version gratuite de amCharts */
.amcharts-chart-div a {
    display:none !important;
}

.parti-couleur-bloc {
    background: linear-gradient(to right, skyblue, deepskyblue);
}

.parti-couleur-conservative {
    background: linear-gradient(to right, blue, darkblue);
}

.parti-couleur-green {
    background: linear-gradient(to right, green, darkgreen);
}

.parti-couleur-ndp {
    background: linear-gradient(to right, orange, darkorange);
}

.parti-couleur-liberal {
    background: linear-gradient(to right, red, darkred);
}
