<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
    <link rel="stylesheet" href="/css/deputes.css">
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>

    <main>
        <div class="row" id="resultat">
            <div class="col col-xs-12">
                Résultats 1 à 12 sur <%= politiciens.length %>
            </div>
        </div>

        <div class="row">
        <% for (var i = 0; i <12; ++i) { %>
            <div class="col col-xs-6 col-sm-4 col-md-3 depute-apercu">
                <!-- À corriger éventuellement. J'aime pas qu'on utilise openparliament.ca comme source. - O.R. -->
                <img src="http://openparliament.ca<%= politiciens[i].image %>" class="img-responsive depute-image">
                <a href="/depute-profil-infos/id/<%= politiciens[i].memberships[0].riding.id %>" class="depute-nom"><%= politiciens[i].name %></a>
                <div class="parti-couleur parti-couleur-<%= politiciens[i].memberships[0].party.short_name.en.toLowerCase() %>"></div>
                <div class="depute-parti"><%= politiciens[i].memberships[0].party.name.en %></div>
                <div class="depute-comte"><%= politiciens[i].memberships[0].riding.name.en %></div>
                <div class="depute-province"><%= politiciens[i].memberships[0].riding.province %></div>
            </div>
        <% } %>
        </div>
    </main>

    <div class="text-center">
    <ul class="pagination pagination-lg">
        <li><a href="#">Précédents</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Suivants</a></li>
    </ul>
    </div>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>
