<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Page d'accueil</h1>
        </div>
    </main>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>