<% var loiId = loi.legisinfo_id %>

<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
        <link rel="stylesheet" href="/css/loi.css">
    </header>

    <main>

        <ul class="nav nav-pills nav-justified menu-depute-profil">
            <li class="active"><a href="#">Description</a></li>
        </ul>

        <div class="row">
            <div class="col-xs-6 col-sm-9" id="infos-parti-liens">
                <div>
                    <label>Nom du projet loi :</label>
                    <%= loi.name.en %>
                </div>
                <div>
                    <label>Statu de la loi :</label>
                    <%= loi.status.en %>
                </div>
                <div>
                    <label>Date d'introduction:</label>
                    <%= loi.introduced %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>
